/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Belleza&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Belleza&family=Roboto+Slab:wght@100..900&display=swap');


/* Changing the main font and background colour */

.titlefont {
   font-family: "Belleza", sans-serif;
	font-optical-sizing: 300;
  font-weight: 50;
  font-style: normal;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: 300;
  font-weight: 50;
  font-style: normal;
}




/* Changing the background colour for the header */

header {
	background-color: #4ebdc4;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #066927;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.textcolorpink {
	color: #f8b9c8
}

.textcolorlightpink {
	color: #EFE7E6
}

.backgroundlightpink {
	background-color: #EFE7E6
}

.backgroundpurple {
	background-color: #DFBCC4
}

.backgroundgreen {
	background-color: #2D833E
}

.backgroundlightgreen {
	background-color: #A9C8B4
}

.backgroundorange {
	background-color: #EDC398
}
/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em #ffebd4,
		.02em .02em .02em #ffebd4,
		0 0 .2em #ffebd4,
		0 0 .5em #ffebd4;
}

.chat-area {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
	background-color: #EFE7E6;
}

.input-area {
    margin-top: 20px;
}

.btn {
	background-color: #DFBCC4;
    border: none;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 80px); /* Adjust width based on button width */
}

/* Bordered form */
form {
  border: 3px solid #EFE7E6;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #2D833E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #EDC398;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
